@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  object-fit: cover;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #1d1c1c;
}
main {
  background-image: url('https://raw.githubusercontent.com/louiesumayan/TIP-PROJECT-ECOM/master/assets/img/bg.png?token=GHSAT0AAAAAAB52TGTPZO7JHDGJIUJB2DKWY7JJWUQ');
  height: 100vh;
  padding: 1em;
}
/* navbar */
.navbar {
  background-color: rgba(129, 124, 124, 0.572);
  display: flex;
  padding: 1em;
  justify-content: space-between;
  border-radius: 25px;
  position: fixed;
  left: 0px;
  width: 100%;
  margin-bottom: 10em;
}

/* logo */
.logo {
  height: 0;
}
.logo > img {
  width: 200px;
  height: 55px;
}
/* navbar menu*/
.navbar_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_menu > .navbar_menu_item {
  margin-left: 40px;
}
/* anchor */
.links {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
.links:hover {
  border-bottom: 1px solid lightgrey;
  color: darkgrey;
}
.active {
  border-bottom: 1px solid lightgrey;
  color: darkgrey;
}

/* icons */
.icons > a > img {
  height: 50px;
  margin-left: 10px;
}

/* section 1 */
/* column container */
.col_container {
  margin-top: 7em;
  border-radius: 25px;
  gap: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.col_1,
.col_2 {
  background-color: rgba(129, 124, 124, 0.636);
  border-radius: 10px;
  height: 83vh;
}

.col_1 {
  width: 50%;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col_1 > .tt_dev {
  font-family: 'Dorsa', sans-serif;
  font-size: 12rem;
  line-height: 0.8;
  letter-spacing: 0.5rem;
  margin-top: 190px;
}
.col_1 > .tt_open {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.5rem;
}
.col_1 > .tt_open1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 10;
  align-self: end;
  margin-right: 2em;
  letter-spacing: 0.5rem;
}
.col_1 > .tt_twi {
  font-family: 'Allura', cursive;
  font-size: 10rem;
  line-height: 0.9;
  letter-spacing: 0.1rem;
}
.col_2 {
  max-width: 960px;
  width: 50%;
  padding: 2em;
  margin: 0 auto;
  display: grid;
}
.col_2 > img {
  width: 100%;
  height: 77vh;
  max-width: 100%;
  margin: auto;
  grid-column: 1;
  grid-row: 1;
  object-fit: cover;
}
.overlay-text {
  background-color: rgba(51, 51, 51, 0.822);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  padding: 10px;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  text-align: center;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.overlay-text:hover {
  background-color: #000;
}

@media screen and (max-width: 1060px) {
  .col_1 > .tt_dev {
    font-family: 'Dorsa', sans-serif;
    font-size: 7rem;
    line-height: 0.8;
    letter-spacing: 0.2rem;
    margin-top: 60px;
  }
  .col_1 > .tt_open {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.2rem;
  }
  .col_1 > .tt_open1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 10;
    align-self: end;
    margin-right: 2em;
    letter-spacing: 0.1rem;
  }
  .col_1 > .tt_twi {
    font-family: 'Allura', cursive;
    font-size: 4rem;
    line-height: 0.9;
    letter-spacing: 0.1rem;
  }
}

/* id blog section */
.blog {
  margin-bottom: 50px;
}
.title_about {
  font-family: 'Dorsa', sans-serif;
  text-align: center;
  padding: 0.3em;
  font-size: 6rem;
  letter-spacing: 0.2rem;
  color: #fff;
}
.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  display: grid;
  position: relative;
}

.card > img {
  height: 500px;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.card_content {
  position: absolute;
  font-family: 'Dorsa', sans-serif;
  font-size: 4rem;
  top: 0;
  margin-left: 50px;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
}

.card_content > h3 {
  margin-top: 50px;
  border-top: 5px solid #000;
}

.shop_link {
  position: relative;
}

.shop_link > a:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.shop_link > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 15px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
}
