@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  object-fit: cover;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'League Spartan', sans-serif;
}

/* navbar */
.navbar {
  background-color: rgba(129, 124, 124, 0.572);
  display: flex;
  padding: 1em;
  justify-content: space-between;
  border-radius: 25px;
  position: fixed;
  top: 10px;
  width: 100%;
  margin-bottom: 10em;
}

/* logo */
.logo {
  height: 0;
}
.logo > img {
  width: 200px;
  height: 55px;
}
/* navbar menu*/
.navbar_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_menu > .navbar_menu_item {
  margin-left: 40px;
}
/* anchor */
.links {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
.links:hover {
  border-bottom: 1px solid lightgrey;
  color: darkgrey;
}
.active {
  border-bottom: 1px solid lightgrey;
  color: darkgrey;
}

/* icons */
.icons > a > img {
  height: 50px;
  margin-left: 10px;
}

.search-bar {
  width: 5%;
  height: 5vh;
  display: flex;
  gap: 0.5em;
  margin-top: 1.3em;
}
.search-bar img {
  width: 100%;
}
.title {
  background-color: lightgray;
  width: 100%;
  height: 10vh;
  text-align: center;
  padding-top: 0.6em;
  display: flex;
  justify-content: center;
  margin-top: 7em;
}
.title p {
  font-size: 1.5em;
  background-color: white;
  height: 8vh;
  width: 20%;
  padding-top: 1em;
  padding-bottom: 1.6em;
}
.body-header {
  height: 8vh;
  width: 65%;
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
  background-color: gray;
  margin-top: 0.5em;
  margin-left: 15em;
}

.img-header {
  width: 10%;
  height: 5vh;
  display: flex;
  gap: 0.6em;
  margin-left: 2em;
}
.img-header img {
  width: 100%;
}
.body-headings {
  display: flex;
  gap: 0.5em;
  margin-left: 41em;
}
.body-headings,
select option {
  width: 30%;
  height: 5vh;
}
.body-headings p {
  padding-top: 0.6em;
  color: white;
}
.images-section {
  width: 100%;
  height: 70vh;
  padding-top: 0.5em;
}
.setofimages {
  width: 90%;
  height: 7vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0.5em;
  margin-left: 4.3em;
}
.setofimages img {
  width: 100%;
}

footer {
  background-color: lightgray;
  width: 100%;
  height: 40vh;
  color: whitesmoke;
}
.logo-contents {
  display: flex;
  justify-content: space-around;
}
.logoheading {
  text-transform: uppercase;

  color: blue;
  margin-top: 1em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-right: em;
  padding-left: 1em;
  font-weight: bold;
  margin-right: 5em;
}
.logo-para {
  color: black;
}
.footer-heading1 {
  margin-top: 2em;
  color: blue;
  margin-bottom: 1em;
}
.footer-heading1 p {
  margin-top: 2em;
  color: black;
}
.footer-footer {
  display: flex;
  justify-content: space-around;
  gap: 2em;
  color: black;
  margin-top: 2em;
}
