@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  object-fit: cover;
  box-sizing: border-box;
}
body {
  font-family: 'League Spartan', sans-serif;
}

/* navbar */
.navbar {
  background-color: rgba(129, 124, 124, 0.572);
  display: flex;
  padding: 1em;
  justify-content: space-between;
  border-radius: 25px;
  position: fixed;
  top: 10px;
  width: 100%;
  margin-bottom: 1em;
}

/* logo */
.logo {
  height: 0;
}
.logo > img {
  width: 200px;
  height: 55px;
}
/* navbar menu*/
.navbar_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_menu > .navbar_menu_item {
  margin-left: 40px;
}
/* anchor */
.links {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
.links:hover {
  border-bottom: 1px solid lightgrey;
  color: darkgrey;
}
.active {
  border-bottom: 1px solid lightgrey;
  color: darkgrey;
}

/* icons */
.icons > a > img {
  height: 50px;
  margin-left: 10px;
}

.search-bar {
  width: 5%;
  height: 5vh;
  display: flex;
  gap: 0.5em;
  margin-top: 1.3em;
}
.search-bar img {
  width: 100%;
}
.title {
  background-color: lightgray;
  width: 100%;
  height: 13vh;
  text-align: center;
  padding-top: 0.6em;
  display: flex;
  justify-content: center;
  margin-top: 7em;
}
.title p {
  font-size: 1.5em;
  background-color: white;
  height: 3vh;
  width: 15%;
  padding-top: 1em;
  padding-bottom: 1.5em;
  margin-top: 25px;
  font-weight: bolder;
}

/* content */

.container {
  width: 90%;
  height: 70vh;
  padding-top: 0.5em;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px 200px 40px;
  margin-left: 100px;
}
.shop-des {
  background-color: rgb(226, 225, 225);
  padding: 1em;
  width: 50%;
  margin-left: 200px;
  margin-top: 20px;
  border-radius: 50px;
  text-align: center;
}
.categories {
  background-color: rgb(202, 202, 202);
  width: 50%;
  padding: 2em;
  margin-left: 200px;
  border-radius: 35px;
  padding-bottom: 50px;
}
.categories a {
  color: black;
  font-size: 1.5rem;
  letter-spacing: 5px;
}
.categories li {
  padding-top: 10px;
  padding-bottom: 25px;
}
.sell-img {
  margin-top: 20px;
  margin-left: 5px;
}

.btns {
  display: flex;
  gap: 50px;
  margin-left: 45px;
  margin-top: 45px;
}

.img-button {
  width: 40%;
  padding: 20px 10px;
  border-radius: 50px;
  font-size: 1em;
  font-weight: lighter;
  color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(151, 151, 151);
}
.prod {
  background-color: rgb(158, 158, 158);
  padding: 1em;
  text-align: center;
  border-radius: 50px;
  margin-top: 20px;
  font-weight: 400;
}

.stock {
  font-size: 1.3em;
  margin-top: 20px;
}

.p100 {
  background-color: rgb(139, 139, 139);
  text-align: center;
  padding: 0.5em;
  border-radius: 50px;
  width: 40%;
  margin-top: 20px;
  margin-left: 180px;
  font-size: 1.5em;
  color: azure;
}

.flex {
  display: flex;
}

.clrtxt {
  color: #000000;
  margin-top: 16px;
}
.quan {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 80px;
  margin-top: 55px;
}
.items-center {
  align-items: center;
  gap: 10px;
  margin-top: 55px;
}

.operator :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.operator {
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  width: 32px;
  height: 32px;
}

.box {
  width: 50px;
  height: 32px;
  border: 1px solid gray;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
}
.operator .svg-icon {
  font-size: 10px;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}
.input-quantity {
  display: flex;
}

.buy-btns {
  margin-top: 81px;
}

.add {
  font-weight: bolder;
}

.buy-buy {
  width: 25%;
  font-weight: bolder;
}
/* end content */

footer {
  background-color: lightgray;
  width: 100%;
  height: 40vh;
  color: whitesmoke;
}
.logo-contents {
  display: flex;
  justify-content: space-around;
}
.logoheading {
  text-transform: uppercase;

  color: blue;
  margin-top: 1em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-right: em;
  padding-left: 1em;
  font-weight: bold;
  margin-right: 5em;
}
.logo-para {
  color: black;
}
.footer-heading1 {
  margin-top: 2em;
  color: blue;
  margin-bottom: 1em;
}
.footer-heading1 p {
  margin-top: 2em;
  color: black;
}
.footer-footer {
  display: flex;
  justify-content: space-around;
  gap: 2em;
  color: black;
  margin-top: 2em;
}
